
.heading{
    color: rgb(238, 234, 229);
}
.about{
    color: rgb(247, 233, 233);
}
.c1{
color:darkgray;
}
.c3{
     
color:darkgray;
}
.form-label{
    color: black;

}
.color{
    
    background-color: grey;
}
.letters{
    color: black;
}